

.about{
    background: rgba(111, 134, 201, 0.296);
   
}
.contact{
    background: rgba(93, 95, 95, 0.222);
    width: 100%;
    
}
.image{
    height: 50px;
    width: 100px;
    border-radius: 8px;
    box-shadow: 2px 1px 2px white;
}
.us{
    background: #0C6FFB;
}
.top{
    background:#02172230 ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.683),rgba(128, 128, 128, 0.255)), url(images/pexels-didsss-5407054.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f9f6f6;
    padding: 150px;
}
@media (max-width:920px) {
    .top{
        padding: 0;
    }
}
.ico-dm{
    padding: 10px;

    color: #0C6FFB;
}
.ft{
    background:#333D51;
    color: #b4b4b4;
}
.fa-twitter{
    color: #3c8dff;
}
.fa-facebook{
    color: royalblue;
}
.fa-youtube{
    color: #fc0101;
}
.price{
    /* background:#0066CC; */
    background: #D3AC2B;
    color: #333D51;
}
.w-100{
    color: aliceblue;
}
.pro-free{
    background: #b4b4b4;
}
 a:hover{
    color: #FF9924;
}
.our{
    background: #CBD0D8;
}
.lh-1{
    color: #FF9924;
}
.main-xy{
    background: #333D51;
}